<div>
  <h1>Reset password</h1>
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Distinctio necessitatibus ratione at
  esse quod amet alias officiis sint debitis nisi! Quos eos, nostrum nam quibusdam dolores veritatis
  aspernatur doloremque ratione.
</div>
