<style>
  #emailContainer {
    font-family: "Open Sans", Arial, sans-serif;
  }

  #content {
    color: #555;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: #fff;
  }

  #content span {
    font-size: 18px;
  }

  #resetButton {
    display: block;
    background: #4442ff;
    color: #fff;
    padding: 15px;
    box-sizing: border-box;
    font-weight: 700;
    font-size: 14px;
    text-decoration: none;
    text-align: center;
    width: 220px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
  }

  #footerTable {
    padding: 20px;
    color: #555;
    font-size: 12px;
  }

  @media only screen and (max-width: 600px) {
    #emailContainer {
      width: 400px;
    }
  }
</style>
<table width="100%" height="100%" bgcolor="#ddd">
  <tr>
    <td>
      <table border="0" cellpadding="0" cellspacing="0" width="600" align="center" id="emailContainer"
        style="font-family: &quot;Open Sans&quot;, Arial, sans-serif;">

        <tr>
          <td id="content"
            style="color: #555;padding-top: 40px;padding-bottom: 40px;padding-right: 20px;padding-left: 20px;background-color: #fff;">
            <span style="font-size: 18px;">Olá <strong>{{name}}</strong></span>
            <p>Recebemos uma solicitação para recuperação de senha. Para prosseguir clique no botão abaixo.</p>

            <a href="{{link}}" id="resetButton"
              style="display: block;background: #4442ff;color: #fff;padding: 15px;box-sizing: border-box;font-weight: 700;font-size: 14px;text-decoration: none;text-align: center;width: 220px;margin-left: auto;margin-right: auto;border-radius: 4px;">Definir
              uma nova senha</a>
          </td>
        </tr>

        <tr>
          <td>
            <table width="100%" align="center" id="footerTable" style="padding: 20px;color: #555;font-size: 12px;">
              <tr align="center">
                <td>&copy vitorfrs-dev - 2020</td>
              </tr>
            </table>
          </td>
        </tr>

      </table>
    </td>
  </tr>
</table>
